@font-face {
  font-family: 'Twylite';
  src: url(./fonts/TWYLZW.TTF) format('truetype');
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Twylite', Fallback, sans-serif;
}

.app {
  text-align: left;
  background: black;
}
.game {
  background: transparent;
}
.firstPuzzle {
  position: relative;
  left: 30%;
  height: 70%;
  width: 41%;
}
.openinganswerForm {
  position: relative;
  left: 40%;
  width: 29%;
  margin-top: 2%;
}
.openingsubmissions {
  position: absolute;
  width: 33%;
  bottom: 18%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.eventTitle {
  position: relative;
  text-align: center;
  color: white;
  font-weight: bold;
  font-size: 60px;
  width: 100%;
  font-family: 'Twylite';
}
.viewpane {
  background: #56e;
  position: absolute;
}
.viewItem {
  position: absolute;
  cursor: pointer;
}
.newPuzzleCount {
  position: absolute;
  border-radius: 5px;
  bottom: 10px;
  right: 13%;
  padding: 3px;
  background: rgba(208, 0, 0, 0.69);
  color: rgba(255, 255, 255, 0.80);
  font-size: 20px;
  font-weight: bold;
}

.phhomelink {
  position: absolute;
  top: 10px;
  left: 10px;
  border-radius: 5px;
  padding: 3px;
  background: rgba(0, 200, 0, 0.50);
  font-size: 15px;
  font-family: sans-serif;
}
.listPane {
  background: transparent;
  position: absolute;
  overflow: hidden;
  overflow: auto;  
}
.listcontrols {
  width: 100%;
  height: 17%;  
}
.searchdiv{
  position: relative;
  width: 100%;
  height: 25%;
  background-color: rgba(255,255,255,.2);
}
.searchbox{
  position: absolute;
  width: 95%;
  margin: 5px;
  font-size: 1.4vw;
}
.searchicon{
  position: absolute;
  top: 22%;
  right: 3%;  
  width: 8%;
}
.grouptogglepanel{
  position: relative;
  width: 100%;
  height: 25%;
  top: 0%;
  color: white;
  margin-top: 3%;
}
.groupingtag{
  position: relative;
  float: left;
  top: 17%;
  margin: 4px 15px 0px 5px; 
}
.filtercontrols{
  position: relative;
  width: 100%;
  height: 50%;
  top: 2%;
  margin: 0 0 0 0;
}
.arcfiltercontrols{
  position: relative;
  width: 100%;
  height: 50%;
  bottom: 2%;
  margin: 0 0 0 0;
}
.statusfiltercontrols{
  position: relative;
  display: inline;
  bottom: 2%;
}
.metafiltercontrols{
  position: relative;
  display: inline;
  bottom: 5%;
  background-color: rgba(255,0,255,.2);
}
.filtericon{
  position: relative;
  width: 12%;
  top: 20%;
  float: left;
  margin: 4px 15px 0px 5px;
}
.puzzlelist{
  position: relative;
  width: 100%;
  color: white;
  font-size: 1.4vw;
  top: 0%;
}
.groupedlist{
  position: relative;
  margin-top: 3%;
}
.grouping{
  position: relative;
  display: block;
}
.groupheaderopened{
  position: relative;
  width: 100%;
  float: left;
  cursor: pointer;
}
input[type="radio"] {
  position: absolute;
  top: -9999px;
  left: -9999px;
}
label {
  cursor: pointer;
  display: block;
  float: left;
  padding: .2em .4em;
  background-color: #777;
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: #222;
  top: 6%;
  position: relative;
}
label.selected {
  background-color: green;
}
.puzzleItemsList {
  list-style-type: none;
  padding: 2px;
  top: 15%;
  position: relative;
}
.puzzleItem {
  background-color: #616161;
  position: relative;
  color: white;
}
.puzzleItemPdf {
  position: absolute;
}
.statusIcon {
  background-color: transparent;
  width: 30%;
  left: -2px;
  top: -3px;
  position: absolute;
}
.arcIcon {
  right: 0px;
  bottom: 0px;
  position: absolute;
}
.metaIcon {
  right: 0%;
  top: 0%;
  position: absolute;
}
li.puzzleListItem {
  list-style: none;
  float: left;
  padding: 8px;
}
.thingsPane {
  background: transparent;
  position: absolute;
  overflow: hidden;
  overflow: auto;  
}
.thing {
  background: white;
  border-style: solid;
  position: relative;
  overflow: hidden;
}
li.thingListItem {
  list-style: none;
  float: left;
  padding: 10px;
}
.btn {
  position: absolute;
  border-radius: 8px;
  background: transparent;
  padding: 1px;
  height: 35px;
  width: 35px;
}
.pdfViewer {
  top: 50px;
  position: absolute;
  background: 'transparent';
  float: right;
  right: 60px;
  color: white;
  text-align: center;
  font-size: 3vmin;
  font-weight: bold;
  overflow: hidden;
}
.toggleBtn {
  float: left;
  margin: 2px;
  border-style: solid;
  border-radius: 2px;
  border-width: 2px;
  width: 7.5%;
}
.toggleBtnUp {
  border-color: lightgray gray gray lightgray;
  background-color: gray;
}
.toggleBtnDown {
  border-color: gray lightgray lightgray gray;
  background-color: white;
}
.btnFilter {
  width: 30px;
  height: 30px;
  padding: 0;
  background-color: white;
  margin: 1px;
}
.btnImage {
  width: 100%;
  height: 100%;
  object-fit: scale-down;
}
.puzzleDiag {
  background-color: rgba(60, 60, 60, .95);
  position: absolute;
  border-radius: 12px;
}
.puzzleTitle {
  text-align: center;
  color: white;
  font-size: 300%;
  width: 100%;
}
.answersPane{
  position: relative;
  width: 45%;
  height: 90%;
  left: 5%;
}
.answerForm {
  position: relative;
  width: 100%;
}
.btnSubmit {
  position: relative;
  width: 23%; 
  height: 55%; 
  background: limegreen; 
  color: white;
  top: 12%;
  left: 5%;
  text-align: center;
  border-radius: 10px;
}
.txtInputLabel {
  position: relative;
  width: 69%;
  height: 55%;
  left: 0%;
  top: 5%;
}
.txtInputLabeltemplock {
  position: relative;
  width: 69%;
  height: 55%;
  left: 0%;
  top: 5%;
  background-color: #D3CF00;
}  
.txtInputLabelpermanentlock {
  position: relative;
  width: 69%;
  height: 55%;
  left: 0%;
  top: 5%;
  background-color: #FA0000;
}  
.txtInput {
  width: 99%;
  border: 0;
}
.txtInputtemplock {
  width: 99%;
  border: 0;
  background-color: #FBFEC3;
}
.txtInputpermanentlock {
  width: 99%;
  border: 0;
  background-color: #DE9191;
}
.responseBox{
  position: relative;
  width: 100%;
  height: 15%;
  margin-top: 3%;
  margin-bottom: 7%;
}
.responseBoxText{
  position: relative;
  color: #1A1A1A;
  text-align: left;
  border-width: medium;
  border-style: solid;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding-left: 3px;
  padding-right: 3px;
  overflow: auto;
}
.correct .responseBoxText{
  background-color: #91DE91;
  border-color: green;
}
.incorrect .responseBoxText{
  background-color: #DE9191;
  border-color: red;
}
.submissions{
  position: relative;
  width: 100%;
  height: 70%;
  margin-top: 3%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.submissionsLabel{
  position: relative;
  color: tan;
  text-align: left;
  font-weight: bold;
}
.submissionsList{
  position: relative;
  width: 100%;
  height: 100%;
  border-style: solid;
  border-color: tan;
  border-width: medium;
  background: lightgray;
  color: #333;
  overflow: auto;
  font-style: italic;
}

